# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# =========================
# Build
# =========================
build/
dist/
*.spec

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Downloads
# =========================
downloads/

# =========================
# Settings
# =========================
app/config/settings.json

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Temporary
# =========================
*.tmp
*.bak